<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>the_Well_Hoping_Bakery</title>
        <link href='https://fonts.googleapis.com/css?family=Leckerli One' rel='stylesheet'>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <style>
            #logBtn:active {
                background: #66FCF1;
                color: #000000 !important;
            }

            #logBtn:hover {
                background: #66FCF1;
                color: #000000 !important;
            }
        </style>
    </head>

    <body>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
        <script src="{{ url_for('static', filename='js/index.js') }}"></script>

        {% if not log_in_error %}
        <div class="container-fluid mx-0 px-0">

            <!-- Jumbo -->
            <div class="container-fluid m-0 p-0">
                {% if is_logged_in: %}
                <button class="btn btn-outline btn-lg" id='logBtn' role="button" type="button"
                    onclick="location.href='/signout'"
                    style="color: #66FCF1; border-color: #66FCF1; border-width: 3px; position: absolute; top: 7%; left: 95%; transform: translate(-50%, -50%); z-index: 5; width: fit-content;">
                    </a>Sign Out</a>
                </button> {% else %}
                <button class="btn btn-outline btn-lg" id='logBtn'
                    style="color: #66FCF1; border-color: #66FCF1; border-width: 3px; position: absolute; top: 7%; left: 95%; transform: translate(-50%, -50%); z-index: 5; width: fit-content;"
                    role="button" type="button" data-toggle="modal" data-target="#signIn">
                    </a>Sign In</a>
                </button> {% endif %}
                <img src="{{ url_for('static', filename='img/bg.jpg') }}"
                    style="height: 100vh; width: 100%; opacity:90%;">
                <span id='bgText'
                    style="user-select: none; font-family: 'Leckerli One'; font-size: 40px; color: #f0f8ff; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: black; -webkit-text-stroke: 2px white;">
                    the_Well_Hoping_Bakery
                </span>
            </div>

            <!-- Cake Menu -->
            {% for col in items %}
            <div class="row container-fluid mx-0 px-0">
                {% for item in col %}

                <div class="col-sm-12 col-md-4">
                    <div class="card p-2" style="margin: 30px 0px 0px 30px;" data-toggle="modal" data-target="#details">
                        <span class="lead">
                            {{item.type}}
                        </span>
                        <img class="card-img-top" src="{{ url_for('static', filename='img/'+item.img) }}">
                    </div>
                </div>

                <div class="modal fade" role="dialog" id="details">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">{{item.type}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body row">
                                <div class="col-6">
                                    <img class="img-circle img-responsive" style="width: 100%;"
                                        src="{{ url_for('static', filename='img/'+item.img) }}">
                                </div>
                                <div class="col-6">
                                    {{ item.details }}
                                </div>
                            </div>
                            {% if is_logged_in: %}
                            <button type="button" id="purchase-btn" class="btn btn-primary" data-dismiss="modal"
                                data-target="#details">Purchase</button> {% else %}
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signIn"
                                data-dismiss="modal" data-target="#details">Sign In</button> {% endif %}
                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>
            {% endfor %}
            <div style="padding: 25px;"></div>
        </div>

        {% else %}

        <div class="container-fluid mx-0 px-0">
            <span class="lead">
                Error during Logging In...
            </span>
        </div>

        {% endif %}

        <!-- Sign Up Modal -->
        <div class="modal fade" id="signUp" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content" style="border-width: 2px; border-color: #66FCF1;">
                    <div class="modal-header" style="background: #1A1A1D; color: #66FCF1; border-color: #66FCF1;">
                        <h5 class="modal-title" style="margin-left: 40%;" id="modal">Sign Up</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true" style="color: #66FCF1;">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="background: #1A1A1D; color: #66FCF1;">
                        <form id='signUpForm' method="POST" action="/signup">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" name="user" class="form-control btn-outline" id="signUpUser"
                                    placeholder="Username"
                                    style="background: center; border-color: #66FCF1; color: #66FCF1;">
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" name="email" class="form-control" id="signUpEmail"
                                    placeholder="Email"
                                    style="background: center; border-color: #66FCF1; color: #66FCF1;">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" name="password" class="form-control" id="signUpPassword"
                                    placeholder="Password"
                                    style="background: center; border-color: #66FCF1; color: #66FCF1;">
                            </div>
                            <div>
                                <a href="#" class="card-link" data-toggle="modal" data-target="#signIn"
                                    data-dismiss="modal">Have an
                                    account... Log In</a>
                                <button type="submit" id="signUpBtn" style="margin-left: 80%;"
                                    class="btn btn-primary">Sign Up</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!-- Sign In Modal -->
        <div class="modal fade" id="signIn" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content" style="border-width: 2px; border-color: #66FCF1;">
                    <div class="modal-header" style="background: #1A1A1D; color: #66FCF1; border-color: #66FCF1;">
                        <h5 class="modal-title" style="margin-left: 40%;" id="modal">Sign In</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true" style="color: #66FCF1;">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="background: #1A1A1D; color: #66FCF1;">
                        <form id='signInForm' method="POST" action="/signin">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" name="user" class="form-control btn-outline" id="signInUsername"
                                    placeholder="Username"
                                    style="background: center; border-color: #66FCF1; color: #66FCF1;">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" name="password" class="form-control" id="signInPassword"
                                    placeholder="Password"
                                    style="background: center; border-color: #66FCF1; color: #66FCF1;">
                            </div>
                            <div>
                                <a href="#" class="card-link" data-toggle="modal" data-target="#signUp"
                                    data-dismiss="modal">Don't
                                    have an account... Sign Up</a>
                                <button type="submit" id="signInBtn" style="margin-left: 80%;"
                                    class="btn btn-primary">Sign In</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Order Placed Toast -->
        <div class="toast hide" id='order' role="alert"
            style="color: #66FCF1; border-color: #66FCF1; border-width: 3px; background: black; border-radius: 25px; opacity: 100%; width: fit-content; position: fixed; bottom: 3%; right: 2%; font-size: 1em;">
            <div class="toast-body px-3">
                Order Placed...
            </div>
        </div>

        <script>
            $(document).ready(function () {
                $('#purchase-btn').click(function () {
                    $('#order').toast('show')
                    $('#order').toast({
                        delay: 5000
                    })
                })
            })
        </script>

    </body>

</html>